.Form {
    padding: 0 2%;
}

.Component {
    font-family: 'Muli', sans-serif;
    font-size: 1.2rem;
    width: 680px;
    margin: 0 auto;
    border-radius: 5px;
    background: #fff;
    box-shadow: 10px 12px 15px #232323;
}

.component-container {
    padding: 15px;
}

.component-title {
    background: #000;
    border-radius: 5px 5px 0 0;
    padding: 10px 15px;
    color: #fff;
    font-weight: 400;
}

.component-question {
    font-weight: bold;
}

.button-grouper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.button {
    font-size: 1.1rem;
    width: 49%;
    color: #fff;
    background: #067a08;
    border: none;
    border-radius: 5px;
    padding: 20px 25px;
    margin: 5px 0;
}
.button:hover {
    cursor: pointer;
    background: #23a326;
}
